@use './partials/mixin' as *;
@use './partials/varibales' as *;

*,
*::before,
*::after{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.container_size{
    max-width: 1200px;
    margin: 0 auto;
}